body {
    text-align: center;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}

.flexContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 0 auto;
    height: 100vh;
}

.title {
    display: flex;
    flex-direction: column;
    color: white;
    box-shadow: rgba(138, 43, 226, 0.25) 0px 2px 5px -1px, rgba(138, 43, 226, 0.3) 0px 1px 3px -1px;
    background-color: blueviolet;
}

.scoreContainer {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}

#playerScore,
#computerScore {
    padding: 1rem;
    border-radius: 10px;
    color: white;
    font-size: 1.3rem;
    background-color: blueviolet;
    box-shadow: rgba(138, 43, 226, 0.16) 0px 3px 6px, rgba(138, 43, 226, 0.23) 0px 3px 6px;
}

.gameResults {
    color: white;
    background-color: blueviolet;
    box-shadow: rgba(138, 43, 226, 0.16) 0px 3px 6px, rgba(138, 43, 226, 0.23) 0px 3px 6px;
    border-radius: 10px;
    padding: 1rem;
    font-weight: 600;
    font-size: 1.5rem;
    align-self: center;
    height: auto;
    width: 450px;
}

.gameContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
    padding: 2rem;
}

.endResults {
    font-weight: bold;
    font-size: xx-large;
    color: blueviolet;
    box-shadow: rgb(138, 43, 226) 0px 20px 30px -10px;
    height: auto;
    width: 300px;
    border-radius: 10px;
    padding: 1rem;
    align-self: center;
}

.playAgain {
    width: 100px;
    align-self: center;
    border: 1px blueviolet solid;
    color: blueviolet;
    background: white;
    border-radius: 10px;
    padding: 10px;
    font-weight: 700;
    margin-bottom: 1.5rem;
    box-shadow: rgba(138, 43, 226, 0.16) 0px 3px 6px, rgba(138, 43, 226, 0.23) 0px 3px 6px;
}

/* BUTTON ATTRIBUTES */
.button {
    border: rgb(138, 43, 226) 2px solid;
    border-radius: 10px;
    box-shadow: rgba(138, 43, 226, 0.4) 5px 5px, rgba(138, 43, 226, 0.3) 10px 10px, rgba(138, 43, 226, 0.2) 15px 15px, rgba(138, 43, 226, 0.1) 20px 20px, rgba(138, 43, 226, 0.05) 25px 25px;;
}

.button:hover, .playAgain:hover {
    background-color: #8a2be217;
    cursor: pointer;
}

.button:active, .playAgain:active {
    background-color: #8a2be24f;
    transform: translate(1%, 1%)
}

.button img {
    height: auto;
    width: 300px;
}

/* MODAL */
.modal {
    animation: show 3s;
    padding: 1em;
    max-width: 50ch;
    border-radius: 10px;
    background: blueviolet;
    border: none;
    color: white;
    box-shadow: 0 0 1em rgba(255, 255, 255, 0.75);
}

.modal::backdrop {
    opacity: .04;
    /* background: linear-gradient(45deg, red, blue); */
    background: linear-gradient(45deg, red, blue);
}

@keyframes show {
    from {
        opacity: 0;
        transform: scale (0); 
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.modal button {
    /* background-color: transparent; */
    border-radius: 5px;
    cursor: pointer;
    border: none;
    padding: .8rem;
    font-size: 1.1rem;
    background: white;
}

.modal button:hover {
    background-color: blueviolet;
    color: white;
    border: white 1px solid;
}

.modal button:active {
    background: linear-gradient(45deg, white, purple);
    opacity: .4;
    border: none;
    transform: translate(1%, 1%)
}

/* FOOTER */
.footer {
    background-color: blueviolet;
    color: white;
    padding: 10px;
    flex-shrink: 0;
}